<table css="width:80%">
  <tbody>
    <tr>
      <td><p css:"font-size:2em;"><strong>You have received a new contact form message.</strong> The contents of the message are:</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>
