<!DOCTYPE html>
<html>
<head>
  <title>Cfrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Welcome to Disappointment Depot!</h1>
  <h2>We sell nothing. Literally!</h2>

<%= yield %>

</body>
</html>
